QLead/force-app/main/default/flows/Update_Customer_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>527</locationX>
        <locationY>350</locationY>
        <actionName>QL_CustomerFlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Customer_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>uniqueId</name>
            <value>
                <elementReference>CustomerID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QL_CustomerFlowHandler</nameSegment>
        <outputParameters>
            <assignToReference>Account</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>527</locationX>
        <locationY>674</locationY>
        <actionName>QL_CustomerFlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acc</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QL_CustomerFlowHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>527</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Account.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.T_Shirt_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TShirt_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Shoe_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shoe_Size.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Profile_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Customer_ID</name>
        <label>Check Customer ID</label>
        <locationX>514</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>T_Shirt_Size</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>T_Shirt_Size__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Customer Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update Customer Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>527</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(20, 100, 238); font-size: 22px;&quot;&gt;Thanks you for providing your details!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Details</name>
        <label>Customer Details</label>
        <locationX>527</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please update your details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Account.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Account.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Account.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^\(?\d{3}\)?[- ]?\d{3}[- ]?\d{4}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Account.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter valid phone number&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!phone.value},  &quot;^\\(?\\d{3}\\)?[- ]?\\d{3}[- ]?\\d{4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Account.Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 3); background-color: rgb(255, 255, 255);&quot;&gt;Please select your Date of Birth!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISNULL({!Date_of_Birth}))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TShirt_Size</name>
                    <choiceReferences>T_Shirt_Size</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Account.T_Shirt_Size__c</elementReference>
                    </defaultValue>
                    <fieldText>T-Shirt Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Shoe_Size</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select your shoe size</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>16.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>min</name>
                        <value>
                            <numberValue>6.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>step</name>
                        <value>
                            <numberValue>0.5</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Account.Shoe_Size__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Please select your shoe size!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT({!Shoe_Size.value} &lt; 6)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>755</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 132, 255);&quot;&gt;Something went wrong, please again after some time !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>396</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Customer_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
